<!-- views/index.ejs -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Inicio</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">

</head>
<body>
  <h1>Inicio</h1>
  <a href="/index_productos">Productos</a>
  <a href="/index_fabricantes">Fabricantes</a>
  <a href="/index_categorias">Categorias</a>
  <a href="/index_total">Total</a>
  <a href="/index_rango_precios">Rango Precios</a>
  <a href="/index_asc_desc">Orden</a>
  <a href="/index_filtros">Filtros</a>
</body>
</html>